/* */

.box {
    width: 400px;
    height: 400px;
    background-color: orange;
}
@media (max-width: 800px){
    .box {
        background-color: red;
    } 

}
@media print{
    p {
        color: rgb(173, 74, 74);
    }
}