footer {
    background-color: $bg-color;
    color: $light-color;    
    padding: 10px 0;
    text-align: center;  

    .container {
        justify-content: space-around;
    
    .footer-item {
       display: flex;
       flex-direction: column;
       align-items: center;
       .fas, .far {
            background-color: $primary-color;
            display: inline-block;
            height: 50px;
            width:50px;
            line-height: 50px;
            color: $dark-color; 
            margin-bottom: 10px;
            }
        }
        p {
            font-size: 0.8em;
        }
    }
}